:root {
  --color-yellow: #ffecb3;
  --color-light-yellow: #fff9c4;
  --color-pastel-yellow: #fff176;
  --color-pastel-black: #484848;
  --color-pastel-white: #f5f5f5;
}

body {
  background-color: #f0f0f0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Start: Header */
header {
  background-color: var(--color-pastel-yellow);
  color: var(--color-pastel-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.app-nav {
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  color: var(--color-pastel-yellow);
  background-color: var(--color-pastel-black);
}

.search-input {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 200px;
  outline: none;
  height: 30px;
  color: var(--color-pastel-black);
  border: 2px solid var(--color-pastel-black);
}

.search-button {
  display: none;
}

.fa-bars {
  display: none !important;
}
/* End: Header */

/* Start: Main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--color-pastel-white);
  gap: 50px;
  margin: 50px;
}

.movie-card {
  background-color: var(--color-pastel-yellow);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.movie-poster {
  width: 180px;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-pastel-black);
  margin-top: 10px;
}

.movie-header {
  margin-right: 20px;
}

.movie-title {
  text-align: start;
}

.movie-rating {
  background-color: var(--color-pastel-black);
  color: var(--color-pastel-yellow);
  padding: 5px;
  border-radius: 5px;
}

.movie-release-date {
  font-size: small;
}

.movie-overview {
  color: var(--color-pastel-black);
  margin-top: 30px;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.hidden {
  opacity: 0;
  height: 0;
}

.visible {
  opacity: 1;
  height: auto;
}
/* End: Main */

/* Start: Footer */
footer {
  background-color: var(--color-pastel-yellow);
  color: var(--color-pastel-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
/* End: Footer */

/* Mobile View */
@media (max-width: 768px) {
  .app-title {
    font-size: x-large;
  }

  .app-nav {
    flex-direction: column;
    position: absolute;
    text-align: end;
    right: 20px;
    top: 80px;
    background-color: var(--color-pastel-yellow);
    width: 300px;
    border: 2px solid var(--color-pastel-black);
    height: 200px;
    padding: 20px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .search-input {
    position: absolute;
    height: 15px;
    width: 100px;
    top: 100px;
    right: 40px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .fa-bars {
    display: block !important;
    cursor: pointer;
  }

  main {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 20px;
  }
}
